#nav{
    width: 100%;
    padding: 30px;
}
.subtitulo{
    white-space: nowrap;
    line-height: 72px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(57,57,57,1);
}
.subittuloProducto{
    /* left: 50px; */
    /* top: 1453px; */
    /* position: absolute; */
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    line-height: 72px;
    margin-top: -28.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(57,57,57,1);
    margin-top: 1px;
}
.tituloRelacionado{
    overflow: visible;
    white-space: nowrap;
    line-height: 72px;
    margin-top: -27px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(26,158,217,1);
}
.textoNormal{
    overflow: hidden;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(0,0,0,1);
}
#tituloProducto{
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    line-height: 72px;
    margin-top: -21px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(57,57,57,1);
}
#producto{
    overflow: hidden;
    background-image: url("FondoAzul.jpg");
    line-height: 72px;
    margin-top: -10px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 52px;
    color: rgb(255, 255, 255);
}

#Capa_1 {
    position: absolute;
    width: 240.786px;
    height: 54.564px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_38 {
    fill: rgba(26,158,217,1);
}
.Path_38 {
    overflow: visible;
    position: absolute;
    width: 96.704px;
    height: 54.049px;
    left: 144.083px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_39 {
    fill: rgba(40,52,140,1);
}
.Path_39 {
    overflow: visible;
    position: absolute;
    width: 50.824px;
    height: 29.398px;
    left: 164.067px;
    top: 24.554px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_40_ci {
    fill: url(#Path_40_ci);
}
.Path_40_ci {
    overflow: visible;

    position: absolute;
    width: 28.482px;
    height: 20.732px;
    left: 160.53px;
    top: 33.133px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_41 {
    fill: rgba(26,158,217,1);
}
.Path_41 {
    overflow: visible;
    position: absolute;
    width: 8.7px;
    height: 17.912px;
    left: 0px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_42 {
    fill: rgba(26,158,217,1);
}
.Path_42 {
    overflow: visible;
    position: absolute;
    width: 8.863px;
    height: 17.912px;
    left: 11.975px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_43 {
    fill: rgba(26,158,217,1);
}
.Path_43 {
    overflow: visible;
    position: absolute;
    width: 18.585px;
    height: 18.504px;
    left: 23.277px;
    top: 1.485px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_44 {
    fill: rgba(26,158,217,1);
}
.Path_44 {
    overflow: visible;
    position: absolute;
    width: 12.739px;
    height: 17.912px;
    left: 45.711px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_45 {
    fill: rgba(26,158,217,1);
}
.Path_45 {
    overflow: visible;
    position: absolute;
    width: 12.192px;
    height: 18.194px;
    left: 62.318px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_46 {
    fill: rgba(26,158,217,1);
}
.Path_46 {
    overflow: visible;
    position: absolute;
    width: 15.214px;
    height: 18.452px;
    left: 78.464px;
    top: 1.543px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_47 {
    fill: rgba(26,158,217,1);
}
.Path_47 {
    overflow: visible;
    position: absolute;
    width: 10.474px;
    height: 17.915px;
    left: 95.5px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_48 {
    fill: rgba(26,158,217,1);
}
.Path_48 {
    overflow: visible;
    position: absolute;
    width: 18.584px;
    height: 18.504px;
    left: 106.967px;
    top: 1.485px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_49 {
    fill: rgba(26,158,217,1);
}
.Path_49 {
    overflow: visible;
    position: absolute;
    width: 10.88px;
    height: 18.439px;
    left: 128.46px;
    top: 1.553px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_50 {
    fill: rgba(40,52,140,1);
}
.Path_50 {
    overflow: visible;
    position: absolute;
    width: 17.169px;
    height: 25.12px;
    left: 0.099px;
    top: 28.893px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_51 {
    fill: rgba(40,52,140,1);
}
.Path_51 {
    overflow: visible;
    position: absolute;
    width: 19.513px;
    height: 26.251px;
    left: 20.054px;
    top: 28.313px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_52 {
    fill: rgba(40,52,140,1);
}
.Path_52 {
    overflow: visible;
    position: absolute;
    width: 27.869px;
    height: 26.251px;
    left: 42.316px;
    top: 28.307px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_53 {
    fill: rgba(40,52,140,1);
}
.Path_53 {
    overflow: visible;
    position: absolute;
    width: 23.511px;
    height: 25.12px;
    left: 74.112px;
    top: 28.86px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_54 {
    fill: rgba(40,52,140,1);
}
.Path_54 {
    overflow: visible;
    position: absolute;
    width: 17.172px;
    height: 25.12px;
    left: 100.895px;
    top: 28.848px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_55 {
    fill: rgba(40,52,140,1);
}
.Path_55 {
    overflow: visible;
    position: absolute;
    width: 19.513px;
    height: 26.248px;
    left: 120.862px;
    top: 28.271px;
    transform: matrix(1,0,0,1,0,0);
}
.Productos {
    left: 1025px;
    top: 19.532px;
    float: left;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(40,52,140,1);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 30px;
}
#IMG_9955 {
    position: absolute;
    width: 100%;
    left: 0px;
    overflow: visible;
}
#IMG_9955_m {
    opacity: 0.26;
    fill: rgba(0,0,0,1);
}
.IMG_9955_m {
    mix-blend-mode: multiply;
    overflow: visible;
    position: absolute;
    width: 810.378px;
    height: 416.087px;
    left: 0px;
    top: 155.211px;
    transform: matrix(1,0,0,1,0,0);
}
#IMG_9955_n {
    opacity: 0.26;
    fill: rgba(0,0,0,1);
}
.IMG_9955_n {
    mix-blend-mode: multiply;
    overflow: visible;
    position: absolute;
    width: 854.881px;
    height: 416.087px;
    transform: matrix(1,0,0,1,520.7795,154.9135) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.sombraBien{
    height: auto;
    background-color: rgba(0,0,0,1);
    opacity: 0.6;
}
#bienvenido{
    width: 100%;
    overflow: visible;
    top: 155.211px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 6vw;

    justify-content: center;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
        height: 400px;
    color: white;
    display: flex;
    align-items: center;

    background-image: url("fondoBienvenidos.jpg");
}


#Lorem_ipsum {
    overflow: visible;
    width: 100%;
    height: 75px;
    line-height: 72px;
    margin-top: -14px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 44px;
    color: rgba(26,158,217,1);
}
#Lorem_ipsum_dolor_sit_amet_con {
    overflow: visible;
    width: 100%;
    line-height: 30px;
    margin-top: -6px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(120,120,120,1);
}
/*rect "Envios, atencion, contacto"*/
#rect_1{

    overflow: visible;
    width: 100%;
    left: 0px;
    top: 857px;
    background-color: rgba(235,235,235,1);
}
#Capa_2 {
    position: absolute;
    width: 4%;
    height: 70.618px;
    left: 30%;
    top: 45px;
    overflow: visible;
}
#Icons {
    position: absolute;
    width: 50.118px;
    height: 70.618px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_4 {
    fill: rgba(70,71,71,1);
}
.Path_4 {
    overflow: visible;
    position: absolute;
    width: 21.641px;
    height: 19.363px;
    left: 18.225px;
    top: 51.255px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
    fill: rgba(70,71,71,1);
}
.Path_5 {
    overflow: visible;
    position: absolute;
    width: 10.251px;
    height: 19.363px;
    left: 10.252px;
    top: 51.255px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
    fill: rgba(70,71,71,1);
}
.Path_6 {
    overflow: visible;
    position: absolute;
    width: 7.973px;
    height: 9.112px;
    left: 25.059px;
    top: 51.255px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
    fill: rgba(70,71,71,1);
}
.Path_7 {
    overflow: visible;
    position: absolute;
    width: 50.118px;
    height: 30.754px;
    left: 0px;
    top: 22.779px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
    fill: rgba(70,71,71,1);
}
.Path_8 {
    overflow: visible;
    position: absolute;
    width: 18.24px;
    height: 30.782px;
    left: 15.939px;
    top: 22.751px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
    fill: rgba(70,71,71,1);
}
.Path_9 {
    overflow: visible;
    position: absolute;
    width: 18.224px;
    height: 25.058px;
    left: 15.947px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
    fill: rgba(70,71,71,1);
}
.Path_10 {
    overflow: visible;
    position: absolute;
    width: 50.118px;
    height: 25.059px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
/*txtEnvios*/
#Envos {
    
    white-space: nowrap;
    line-height: 72px;
    margin-top: -27px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(57,57,57,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*txtLorem*/
#Lorem_ipsum_dolor_sit_amet_con_ {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(120,120,120,1);
}
/*PagosSVG*/
#Icons_ {
    position: absolute;
    width: 5%;
    height: 46.648px;
    left: 52%;
    top: 28%;
    overflow: visible;
}
#Path_28 {
    fill: rgba(70,71,71,1);
}
.Path_28 {
    overflow: visible;
    position: absolute;
    width: 56.367px;
    height: 38.874px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_29 {
    fill: rgba(70,71,71,1);
}
.Path_29 {
    overflow: visible;
    position: absolute;
    width: 56.367px;
    height: 1.944px;
    left: 0px;
    top: 5.831px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_30 {
    fill: rgba(70,71,71,1);
}
.Path_30 {
    overflow: visible;
    position: absolute;
    width: 56.367px;
    height: 1.944px;
    left: 0px;
    top: 11.662px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_31 {
    fill: rgba(70,71,71,1);
}
.Path_31 {
    overflow: visible;
    position: absolute;
    width: 24.296px;
    height: 5.831px;
    left: 4.859px;
    top: 17.493px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
    fill: rgba(70,71,71,1);
}
.Path_32 {
    overflow: visible;
    position: absolute;
    width: 8.747px;
    height: 5.831px;
    left: 33.043px;
    top: 17.493px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
    fill: rgba(70,71,71,1);
}
.Path_33 {
    overflow: visible;
    position: absolute;
    width: 7.775px;
    height: 7.775px;
    left: 4.859px;
    top: 26.24px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_34 {
    fill: rgba(70,71,71,1);
}
.Path_34 {
    overflow: visible;
    position: absolute;
    width: 7.288px;
    height: 7.775px;
    left: 10.204px;
    top: 26.239px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_35 {
    fill: rgba(70,71,71,1);
}
.Path_35 {
    overflow: visible;
    position: absolute;
    width: 3.887px;
    height: 1.944px;
    left: 19.437px;
    top: 30.127px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_36 {
    fill: rgba(70,71,71,1);
}
.Path_36 {
    overflow: visible;
    position: absolute;
    width: 5.831px;
    height: 1.944px;
    left: 25.268px;
    top: 30.127px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_37 {
    fill: rgba(70,71,71,1);
}
.Path_37 {
    overflow: visible;
    position: absolute;
    width: 27.213px;
    height: 20.409px;
    left: 33.042px;
    top: 26.239px;
    transform: matrix(1,0,0,1,0,0);
}
/*txtPagos*/
#Pagos {
    white-space: nowrap;
    line-height: 72px;
    margin-top: -27px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(57,57,57,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
#Lorem_ipsum_dolor_sit_amet_con_ba {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(120,120,120,1);
}
/*AtencionSVG*/
#Icons_bi {

    height: 56.606px;
    left: 75%;
    position: absolute;
    width: 5%;
    top: 25%;
    overflow: visible;
}
#Path_16 {
    fill: rgba(70,71,71,1);
}
.Path_16 {
    overflow: visible;
    position: absolute;
    width: 7.304px;
    height: 12.782px;
    left: 34.694px;
    top: 16.434px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
    fill: rgba(70,71,71,1);
}
.Path_17 {
    overflow: visible;
    position: absolute;
    width: 7.304px;
    height: 12.782px;
    left: 9.13px;
    top: 16.434px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
    fill: rgba(70,71,71,1);
}
.Path_18 {
    overflow: visible;
    position: absolute;
    width: 21.912px;
    height: 10.986px;
    left: 14.614px;
    top: 26.447px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_19 {
    fill: rgba(70,71,71,1);
}
.Path_19 {
    overflow: visible;
    position: absolute;
    width: 23.738px;
    height: 11.869px;
    left: 13.695px;
    top: 3.652px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
    fill: rgba(70,71,71,1);
}
.Path_20 {
    overflow: visible;
    position: absolute;
    width: 29.286px;
    height: 18.773px;
    left: 10.922px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
    fill: rgba(70,71,71,1);
}
.Path_21 {
    overflow: visible;
    position: absolute;
    width: 17.167px;
    height: 6.45px;
    left: 17.129px;
    top: 11.869px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
    fill: rgba(70,71,71,1);
}
.Path_22 {
    overflow: visible;
    position: absolute;
    width: 14.53px;
    height: 14.472px;
    left: 36.597px;
    top: 42.134px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
    fill: rgba(70,71,71,1);
}
.Path_23 {
    overflow: visible;
    position: absolute;
    width: 1.826px;
    height: 4.519px;
    left: 31.042px;
    top: 32.914px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_24 {
    fill: rgba(70,71,71,1);
}
.Path_24 {
    overflow: visible;
    position: absolute;
    width: 20.086px;
    height: 20.086px;
    left: 0px;
    top: 36.52px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
    fill: rgba(70,71,71,1);
}
.Path_25 {
    overflow: visible;
    position: absolute;
    width: 10.041px;
    height: 7.304px;
    left: 24.652px;
    top: 38.346px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
    fill: rgba(70,71,71,1);
}
.Path_26 {
    overflow: visible;
    position: absolute;
    width: 6.52px;
    height: 14.897px;
    left: 32.739px;
    top: 27.276px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_27 {
    fill: rgba(70,71,71,1);
}
.Path_27 {
    overflow: visible;
    position: absolute;
    width: 29.307px;
    height: 9.255px;
    left: 10.923px;
    top: 42.786px;
    transform: matrix(1,0,0,1,0,0);
}
/*txtAtencion*/
#Atencion{
    white-space: nowrap;
    line-height: 72px;
    margin-top: -27px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(57,57,57,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
#Lorem_ipsum_dolor_sit_amet_con_bh {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(120,120,120,1);
}
/*Nuestos productos*/
#Nuestros_prod {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 44px;
    color: rgba(26,158,217,1);
}
#Seleccione{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size:28px;
    color:rgba(57,57,57,1);
    padding-bottom: 25px;
}
/*Fotos productos*/
#ContIMG{
    width: 100%;
    overflow:visible;
}
/*Ind automotriz*/
#Foto1_MameAuto {
    height: 398px;
    left: 0px;
    overflow: visible;
    background-image: url("Foto1_MameAuto_edi.png");
    white-space: nowrap;
    line-height: 52px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color:white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center;
}
.sombra{
    height: 398px;
    overflow: visible;
    padding-top: 300px;
}
.Rectangle_48 {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 25%;;
    height: 398px;
    left: 0px;
}
#INDUSTRIA_AUTOMOTRIZ {
    white-space: nowrap;
    line-height: 52px;
    margin-top: -17.5px;
    padding-top: 58px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: black;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    
}
/*Ind farma*/
#Foto1_MameFarma {
    height: 398px;
    left: 0px;
    overflow: visible;
    background-image: url("Foto1_MameFarma_edi.png");
    white-space: nowrap;
    line-height: 52px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color:white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center;
}
#Rectangle_48_b {
    opacity: 0.34;
    fill: rgba(0,0,0,1);
}
.Rectangle_48_b {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 25%;;
    height: 398px;
    left: 345px;
}
#INDUSTRIA_FARMA {
    left: 424px;
    top: 320px;
    position: absolute;
    overflow: visible;
    width: 12%;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*Ind Elect*/
#Foto4_MameAuto {
    height: 398px;
    left: 0px;
    overflow: visible;
    background-image: url("Foto4_MameAuto_edi.png");
    white-space: nowrap;
    line-height: 52px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color:white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center;
}
#Rectangle_48_ca {
    opacity: 0.34;
    fill: rgba(0,0,0,1);
}
.Rectangle_48_ca {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 331px;
    height: 398px;
    left: 690px;
}
#INDUSTRIA_ELECTRNICA {
    left: 739px;
    top: 320px;
    position: absolute;
    overflow: visible;
    width: 19%;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*Ind salud*/
#Foto3_TrajeMedico {
    height: 398px;
    left: 0px;
    overflow: visible;
    background-image: url("Foto3_TrajeMedico_edi.png");
    white-space: nowrap;
    line-height: 52px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color:white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-repeat: no-repeat;   
    background-position: center; 
}
#Rectangle_48_cb {
    opacity: 0.34;
    fill: rgba(0,0,0,1);
}
.Rectangle_48_cb {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 25%;
    height: 398px;
    left: 1036px;
}
#INDUSTRIA_SALUD {
    left: 1116px;
    top: 320px;
    position: absolute;
    overflow: visible;
    width: 12%;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*btn ver Prod*/
#Group_36 {
    width: 18%;
    height: 54px;
    left: 597px;
    top: 1826px;
    overflow: visible;
}

.Backgound {
    background-color: rgba(26,158,217,1);
    border-radius: 27px;
    height: 40px;
    padding: 1px;
    margin: 0 auto;
    width: 173px;
    margin-top: 85px;
}
#Ver_productos {
    white-space: nowrap;
    line-height: 22px;
    margin-top: 10px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(255,255,255,1);
}
/*confiaron*/
#Confiaron_en_nosotros {
    height: 81px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 44px;
    margin-top: 85px;
    color: rgba(26,158,217,1);
}
/*Img conf*/
#Group_56 {
    width: 100%;
    margin-bottom: 50px;
}
.confiamos{
    margin-top: 40px;
}
#John-Richmond-Logo {
    position: absolute;
    width: 200px;
    height: 112px;
    left: 465px;
    top: 0px;
    overflow: visible;
}
#Volkswagen_logo_2019svg {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 763px;
    top: 26px;
    overflow: visible;
}
#n_024px-Ford_Motor_Company_Log {
    position: absolute;
    width: 160px;
    height: 61px;
    left: 0px;
    top: 26px;
    overflow: visible;
}
#n_280px-Pfizersvg {
    position: absolute;
    width: 129px;
    height: 77px;
    left: 258px;
    top: 15px;
    overflow: visible;
}
/*FORM*/
#Group_54 {
    width: 100%;
    padding: 20px;
    background-color: rgba(241,241,241,1);

}
#input {
    fill: rgba(255,255,255,1);
    stroke: rgba(149,152,154,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.input {
    width: 100%;
    height: 129px;
    border: none;
}
#Tu_mensaje {
    left: 80.109px;
    top: 418.978px;
    
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(183,183,183,1);
}
#Mensaje {
    width: 100%;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(57,57,57,1);
}
#input_eh {
    fill: rgba(255,255,255,1);
    stroke: rgba(149,152,154,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.input_eh {
    width: 100%;
    height: 50px;
    border: none;
}
#n_234567890 {
    left: 580px;
    top: 315.948px;
    
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(183,183,183,1);
}
#Telfono {
    width: 100%;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(57,57,57,1);
}
#input_ek {
    fill: rgba(255,255,255,1);
    stroke: rgba(149,152,154,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.input_ek {
    width: 100%;
    height: 50px;
    border: none;
}
#mailejemplocom {
    left: 82.025px;
    top: 315.948px;
    
    overflow: visible;
    width: 130px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(183,183,183,1);
}
#Email {
    width: 100%;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(57,57,57,1);
}
#input_en {
    fill: rgba(255,255,255,1);
    stroke: rgba(149,152,154,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.input_en {
    width: 100%;
    height: 50px;
    border: none;
}
#Apellido {
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(183,183,183,1);
}
#Apellido_ep {
    width: 100%;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(57,57,57,1);
}
#input_eq {
    fill: rgba(255,255,255,1);
    stroke: rgba(149,152,154,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.input_eq {
    width: 100%;
    height: 50px;
    border: none;
}
#Nombre {
    left: 81.087px;
    top: 212.984px;
    
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(183,183,183,1);
}
#Nombre_es {
    width: 100%;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(57,57,57,1);
}
#Contctanos {
    left: 50.941px;
    top: 77.188px;
    
    overflow: visible;
    width: 177px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: rgba(57,57,57,1);
}
#Group_37 {
    
    width: 173px;
    height: 54px;
    left: 1133px;
    top: 587px;
    overflow: visible;
}
#Backgound_ev {
    fill: rgba(255,255,255,1);
}
.Backgound_ev {
    
    overflow: visible;
    width: 173px;
    height: 54px;
    left: 0px;
    top: 0px;
}
.botonEnviar{
    
    
    height: 54px;
    left: 1133px;
    top: 587px;
    overflow: visible;
    background-color: rgba(255,255,255,1);
    border-radius: 27px;
}
#Enviar {
    left: 1133px;
    top: 587px;
    
    overflow: visible;
    width: 173px;
    height: 54px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -1.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(57,57,57,1);
    background-color: rgba(255,255,255,1);
    border-radius: 27px;
    border: none;
}
/*SubNav*/


#Capa_2_c {
    width: 100%;
    height: 340.352px;
    left: 0px;
    top: 3004.647px;
    background-color: rgba(57,82,163,1);
}
#Path_66 {
    fill: rgba(255,255,255,1);
}
.Path_66 {
    overflow: visible;
    width: 63.773px;
    height: 51.356px;
    left: 87.696px;
    top: 69.544px;
    transform: matrix(1,0,0,1,0,0);
}
#Servicios {
    left: 157.501px;
    top: 76.833px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#Path_67 {
    fill: rgba(109,111,113,1);
}
.Path_67 {
    overflow: visible;
    width: 22.041px;
    height: 22.521px;
    left: 93.77px;
    top: 94.321px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_68 {
    fill: rgba(89,90,92,1);
}
.Path_68 {
    overflow: visible;
    width: 24.907px;
    height: 18.569px;
    left: 122.097px;
    top: 71.813px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_69 {
    fill: rgba(109,111,113,1);
}
.Path_69 {
    overflow: visible;
    width: 13.34px;
    height: 12.062px;
    left: 133.663px;
    top: 75.008px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_70 {
    fill: rgba(33,46,106,1);
}
.Path_70 {
    overflow: visible;
    width: 14.853px;
    height: 21.797px;
    left: 135.267px;
    top: 91.98px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_71 {
    fill: rgba(57,82,163,1);
}
.Path_71 {
    overflow: visible;
    width: 23.147px;
    height: 9.033px;
    left: 126.491px;
    top: 86.174px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_72 {
    fill: rgba(35,103,147,1);
}
.Path_72 {
    overflow: visible;
    width: 14.853px;
    height: 21.791px;
    left: 113.763px;
    top: 90.722px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_73 {
    fill: rgba(11,158,218,1);
}
.Path_73 {
    overflow: visible;
    width: 23.225px;
    height: 9.005px;
    left: 114.246px;
    top: 109.304px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_74 {
    fill: rgba(89,90,92,1);
}
.Path_74 {
    overflow: visible;
    width: 29.654px;
    height: 27.003px;
    left: 89.339px;
    top: 71.813px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_29 {
    fill: rgba(255,255,255,1);
}
.Rectangle_29 {
    overflow: visible;
    width: 0.391px;
    height: 52.057px;
    left: 154.019px;
    top: 68.37px;
}
#EcoRec {
    left: 157.501px;
    top: 89.913px;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#infoserviciosecoreccomar {
    left: 631.921px;
    top: 223.146px;
    overflow: visible;
    width: 201px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Rectangle_30 {
    fill: transparent;
}
.Rectangle_30 {
    overflow: visible;
    width: 35.744px;
    height: 35.483px;
    left: 985.705px;
    top: 179.552px;
}
#Group_42 {
padding: 10px;
}
#Group_44 {
    padding: 10px;
}
#Home_dk {
    left: 362.73px;
    top: 69.974px;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Servicios_dl {
    left: 362.73px;
    top: 104.036px;
    overflow: visible;
    width: 66px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(255,255,255,1);
}
#Trazabilidad {
    left: 362.821px;
    top: 138.084px;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Novedades {
    left: 362.73px;
    top: 172.145px;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(255,255,255,1);
}
#Contacto_do {
    left: 362.73px;
    top: 206.207px;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Group_45 {
    width: 9.454px;
    height: 13.379px;
    left: 336.571px;
    top: 73.613px;
    overflow: visible;
}
#Group_46 {
    width: 9.454px;
    height: 13.392px;
    left: 336.571px;
    top: 108.913px;
    overflow: visible;
}
#Group_47 {
    width: 9.454px;
    height: 13.392px;
    left: 336.571px;
    top: 143.235px;
    overflow: visible;
}
#Group_48 {
    width: 9.454px;
    height: 13.392px;
    left: 336.571px;
    top: 175.953px;
    overflow: visible;
}
#Group_49 {
    width: 9.454px;
    height: 13.392px;
    left: 336.571px;
    top: 210.067px;
    overflow: visible;
}
#Dir {
    left: 633.225px;
    top: 72.022px;
    overflow: visible;
    width: 23px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(255,255,255,1);
}
#eccin {
    left: 653.764px;
    top: 72.022px;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(255,255,255,1);
}
#Roque_Senz_pea_4027_-_B1751BMC {
    left: 633.225px;
    top: 102.64px;
    overflow: visible;
    width: 230px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#V {
    left: 633.225px;
    top: 126.152px;
    overflow: visible;
    width: 11px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#illa_Insuperable {
    left: 642.875px;
    top: 128.76px;
    overflow: visible;
    width: 94px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Pr {
    left: 633.225px;
    top: 154.88px;
    overflow: visible;
    width: 14px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#ov {
    left: 647.126px;
    top: 154.88px;
    overflow: visible;
    width: 16px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#n_de_Buenos_Air {
    left: 662.787px;
    top: 154.88px;
    overflow: visible;
    width: 94px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#es {
    left: 769.757px;
    top: 154.88px;
    overflow: visible;
    width: 14px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Ar {
    left: 633.225px;
    top: 181px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#gentina {
    left: 648.873px;
    top: 181px;
    overflow: visible;
    width: 48px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Group_50 {
    width: 9.441px;
    height: 13.627px;
    left: 607.066px;
    top: 75.686px;
    overflow: visible;
}
#Llamenos {
    left: 982.706px;
    top: 69.414px;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#n_411_4652_4230__4454_5877 {
    left: 982.706px;
    top: 103.475px;
    overflow: visible;
    width: 213px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#n_411_4655_1865 {
    left: 982.706px;
    top: 137.536px;
    overflow: visible;
    width: 124px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Group_51 {
    width: 9.441px;
    height: 13.627px;
    left: 959.155px;
    top: 76.99px;
    overflow: visible;
}
#Group_53 {
    width: 35.47px;
    height: 35.209px;
    left: 985.848px;
    top: 179.696px;
    overflow: visible;
}

.footer{
    width: 100%;
    background-color: rgba(57,82,163,1);
    padding: 30px;
    font-family: Roboto;
}
.textoTitulosFoot{
    white-space: nowrap;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: left;
}
.textoDirec{
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
.imag{
    padding: 5px;
}
/*--------------------------*/
/*--------------------------*/
/*---------PRODUCTOS--------*/
/*--------------------------*/
/*--------------------------*/

.botonConsl{
    height: 40px;
    width: 100%;
    background-color: rgba(26,158,217,1);
    border-radius: 27px;
    padding: 8px;
    margin: 10px;
}
#Consultar{
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,1);
}
#input_nom_prod {
    fill: rgba(255,255,255,1);
    stroke: rgba(149,152,154,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.input_nom_prod {
    width: 100%;
    height: 30px;
    fill: rgba(255,255,255,1);
    stroke: rgba(149,152,154,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    margin: 5px;
}
.input_mensaje{
    width: 100%;
    height: 129px;
}
.EnviarConsulta{
    overflow: visible;
    width: 106px;
    height: 33.087px;
    white-space: nowrap;
    background-color: rgba(57,57,57,1);
    border-radius: 27px;
    box-sizing: border-box;
    border: none;
    line-height: 13px;
    margin-top: -1px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(255,255,255,1);
}
/*Envios*/
.internacionales{
    height: 115px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(40,52,140,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Envos_internacionales{
    white-space: nowrap;
    line-height: 120px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: rgba(255,255,255,1);
}
.mediosPago{
    height: 115px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(26,158,217,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
