#nav{
    width: 100%;

}
.subtitulo{


    white-space: nowrap;
    line-height: 72px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(57,57,57,1);
}
.textoNormal{


    overflow: hidden;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(0,0,0,1);
}
#tituloProducto{
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    line-height: 72px;
    margin-top: -21px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(57,57,57,1);
}
#producto{
    overflow: hidden;
    background-image: url("FondoAzul.jpg");
    line-height: 72px;
    margin-top: -10px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 52px;
    color: rgb(255, 255, 255);
}
#bienvenido{
    width: 100%;
    overflow: visible;
    top: 155.211px;

}
#Capa_1 {
    position: absolute;
    width: 240.786px;
    height: 54.564px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_38 {
    fill: rgba(26,158,217,1);
}
.Path_38 {
    overflow: visible;
    position: absolute;
    width: 96.704px;
    height: 54.049px;
    left: 144.083px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_39 {
    fill: rgba(40,52,140,1);
}
.Path_39 {
    overflow: visible;
    position: absolute;
    width: 50.824px;
    height: 29.398px;
    left: 164.067px;
    top: 24.554px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_40_ci {
    fill: url(#Path_40_ci);
}
.Path_40_ci {
    overflow: visible;

    position: absolute;
    width: 28.482px;
    height: 20.732px;
    left: 160.53px;
    top: 33.133px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_41 {
    fill: rgba(26,158,217,1);
}
.Path_41 {
    overflow: visible;
    position: absolute;
    width: 8.7px;
    height: 17.912px;
    left: 0px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_42 {
    fill: rgba(26,158,217,1);
}
.Path_42 {
    overflow: visible;
    position: absolute;
    width: 8.863px;
    height: 17.912px;
    left: 11.975px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_43 {
    fill: rgba(26,158,217,1);
}
.Path_43 {
    overflow: visible;
    position: absolute;
    width: 18.585px;
    height: 18.504px;
    left: 23.277px;
    top: 1.485px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_44 {
    fill: rgba(26,158,217,1);
}
.Path_44 {
    overflow: visible;
    position: absolute;
    width: 12.739px;
    height: 17.912px;
    left: 45.711px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_45 {
    fill: rgba(26,158,217,1);
}
.Path_45 {
    overflow: visible;
    position: absolute;
    width: 12.192px;
    height: 18.194px;
    left: 62.318px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_46 {
    fill: rgba(26,158,217,1);
}
.Path_46 {
    overflow: visible;
    position: absolute;
    width: 15.214px;
    height: 18.452px;
    left: 78.464px;
    top: 1.543px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_47 {
    fill: rgba(26,158,217,1);
}
.Path_47 {
    overflow: visible;
    position: absolute;
    width: 10.474px;
    height: 17.915px;
    left: 95.5px;
    top: 1.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_48 {
    fill: rgba(26,158,217,1);
}
.Path_48 {
    overflow: visible;
    position: absolute;
    width: 18.584px;
    height: 18.504px;
    left: 106.967px;
    top: 1.485px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_49 {
    fill: rgba(26,158,217,1);
}
.Path_49 {
    overflow: visible;
    position: absolute;
    width: 10.88px;
    height: 18.439px;
    left: 128.46px;
    top: 1.553px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_50 {
    fill: rgba(40,52,140,1);
}
.Path_50 {
    overflow: visible;
    position: absolute;
    width: 17.169px;
    height: 25.12px;
    left: 0.099px;
    top: 28.893px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_51 {
    fill: rgba(40,52,140,1);
}
.Path_51 {
    overflow: visible;
    position: absolute;
    width: 19.513px;
    height: 26.251px;
    left: 20.054px;
    top: 28.313px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_52 {
    fill: rgba(40,52,140,1);
}
.Path_52 {
    overflow: visible;
    position: absolute;
    width: 27.869px;
    height: 26.251px;
    left: 42.316px;
    top: 28.307px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_53 {
    fill: rgba(40,52,140,1);
}
.Path_53 {
    overflow: visible;
    position: absolute;
    width: 23.511px;
    height: 25.12px;
    left: 74.112px;
    top: 28.86px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_54 {
    fill: rgba(40,52,140,1);
}
.Path_54 {
    overflow: visible;
    position: absolute;
    width: 17.172px;
    height: 25.12px;
    left: 100.895px;
    top: 28.848px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_55 {
    fill: rgba(40,52,140,1);
}
.Path_55 {
    overflow: visible;
    position: absolute;
    width: 19.513px;
    height: 26.248px;
    left: 120.862px;
    top: 28.271px;
    transform: matrix(1,0,0,1,0,0);
}
.Productos {
    left: 1025px;
    top: 19.532px;
    float: left;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(40,52,140,1);
    text-transform: uppercase;
    text-decoration: none;
}
#IMG_9955 {
    position: absolute;
    width: 100%;
    left: 0px;
    overflow: visible;
}
#IMG_9955_m {
    opacity: 0.26;
    fill: rgba(0,0,0,1);
}
.IMG_9955_m {
    mix-blend-mode: multiply;
    overflow: visible;
    position: absolute;
    width: 810.378px;
    height: 416.087px;
    left: 0px;
    top: 155.211px;
    transform: matrix(1,0,0,1,0,0);
}
#IMG_9955_n {
    opacity: 0.26;
    fill: rgba(0,0,0,1);
}
.IMG_9955_n {
    mix-blend-mode: multiply;
    overflow: visible;
    position: absolute;
    width: 854.881px;
    height: 416.087px;
    transform: matrix(1,0,0,1,520.7795,154.9135) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
.sombraBien{
    mix-blend-mode: multiply;
    overflow: visible;
    position: absolute;
    width: 100%;
    height: 416.087px;
    transform-origin: center;
    left: 0px;
    top: 0px;
    opacity: 0.26;
    background-color: rgba(0,0,0,1);
}
#Bienvenido_a_productos_ECOREC {

    overflow: visible;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 8vw;

    /* display: flex; */
    justify-content: center;
    margin: 0 auto;
    /* width: 100px; */
    text-align: center;
    color: rgba(255,255,255,1);
    background-image: url("fondoBienvenidos.jpg");
}
#Lorem_ipsum {
    overflow: visible;
    width: 100%;
    height: 75px;
    line-height: 72px;
    margin-top: -14px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 44px;
    color: rgba(26,158,217,1);
}
#Lorem_ipsum_dolor_sit_amet_con {
    overflow: visible;
    width: 100%;
    height: 91px;
    line-height: 30px;
    margin-top: -6px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(120,120,120,1);
}
/*rect "Envios, atencion, contacto"*/
#rect_1{
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 234px;
    left: 0px;
    top: 857px;
    background-color: rgba(235,235,235,1);
}
#Capa_2 {
    position: absolute;
    width: 4%;
    height: 70.618px;
    left: 30%;
    top: 45px;
    overflow: visible;
}
#Icons {
    position: absolute;
    width: 50.118px;
    height: 70.618px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_4 {
    fill: rgba(70,71,71,1);
}
.Path_4 {
    overflow: visible;
    position: absolute;
    width: 21.641px;
    height: 19.363px;
    left: 18.225px;
    top: 51.255px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
    fill: rgba(70,71,71,1);
}
.Path_5 {
    overflow: visible;
    position: absolute;
    width: 10.251px;
    height: 19.363px;
    left: 10.252px;
    top: 51.255px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
    fill: rgba(70,71,71,1);
}
.Path_6 {
    overflow: visible;
    position: absolute;
    width: 7.973px;
    height: 9.112px;
    left: 25.059px;
    top: 51.255px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
    fill: rgba(70,71,71,1);
}
.Path_7 {
    overflow: visible;
    position: absolute;
    width: 50.118px;
    height: 30.754px;
    left: 0px;
    top: 22.779px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
    fill: rgba(70,71,71,1);
}
.Path_8 {
    overflow: visible;
    position: absolute;
    width: 18.24px;
    height: 30.782px;
    left: 15.939px;
    top: 22.751px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
    fill: rgba(70,71,71,1);
}
.Path_9 {
    overflow: visible;
    position: absolute;
    width: 18.224px;
    height: 25.058px;
    left: 15.947px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
    fill: rgba(70,71,71,1);
}
.Path_10 {
    overflow: visible;
    position: absolute;
    width: 50.118px;
    height: 25.059px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
/*txtEnvios*/
#Envos {
    left: 29%;
    top: 130px;
    position: absolute;
    overflow: visible;
    width: 6%;
    white-space: nowrap;
    line-height: 72px;
    margin-top: -27px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(57,57,57,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*txtLorem*/
#Lorem_ipsum_dolor_sit_amet_con_ {
    left: 25%;
    top: 160px;
    position: absolute;
    overflow: hidden;
    /*width: 15%;*/
    width: 198px;
    height: 45px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(120,120,120,1);
}
/*PagosSVG*/
#Icons_ {
    position: absolute;
    width: 5%;
    height: 46.648px;
    left: 52%;
    top: 28%;
    overflow: visible;
}
#Path_28 {
    fill: rgba(70,71,71,1);
}
.Path_28 {
    overflow: visible;
    position: absolute;
    width: 56.367px;
    height: 38.874px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_29 {
    fill: rgba(70,71,71,1);
}
.Path_29 {
    overflow: visible;
    position: absolute;
    width: 56.367px;
    height: 1.944px;
    left: 0px;
    top: 5.831px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_30 {
    fill: rgba(70,71,71,1);
}
.Path_30 {
    overflow: visible;
    position: absolute;
    width: 56.367px;
    height: 1.944px;
    left: 0px;
    top: 11.662px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_31 {
    fill: rgba(70,71,71,1);
}
.Path_31 {
    overflow: visible;
    position: absolute;
    width: 24.296px;
    height: 5.831px;
    left: 4.859px;
    top: 17.493px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
    fill: rgba(70,71,71,1);
}
.Path_32 {
    overflow: visible;
    position: absolute;
    width: 8.747px;
    height: 5.831px;
    left: 33.043px;
    top: 17.493px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
    fill: rgba(70,71,71,1);
}
.Path_33 {
    overflow: visible;
    position: absolute;
    width: 7.775px;
    height: 7.775px;
    left: 4.859px;
    top: 26.24px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_34 {
    fill: rgba(70,71,71,1);
}
.Path_34 {
    overflow: visible;
    position: absolute;
    width: 7.288px;
    height: 7.775px;
    left: 10.204px;
    top: 26.239px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_35 {
    fill: rgba(70,71,71,1);
}
.Path_35 {
    overflow: visible;
    position: absolute;
    width: 3.887px;
    height: 1.944px;
    left: 19.437px;
    top: 30.127px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_36 {
    fill: rgba(70,71,71,1);
}
.Path_36 {
    overflow: visible;
    position: absolute;
    width: 5.831px;
    height: 1.944px;
    left: 25.268px;
    top: 30.127px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_37 {
    fill: rgba(70,71,71,1);
}
.Path_37 {
    overflow: visible;
    position: absolute;
    width: 27.213px;
    height: 20.409px;
    left: 33.042px;
    top: 26.239px;
    transform: matrix(1,0,0,1,0,0);
}
/*txtPagos*/
#Pagos {
    left: 52%;
    top: 130px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    line-height: 72px;
    margin-top: -27px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(57,57,57,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
#Lorem_ipsum_dolor_sit_amet_con_ba {
    left: 47%;
    top: 160px;
    position: absolute;
    overflow: hidden;
    /*width: 15%;*/
    width: 198px;
    height: 45px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(120,120,120,1);
}
/*AtencionSVG*/
#Icons_bi {

    height: 56.606px;
    left: 75%;
    position: absolute;
    width: 5%;
    top: 25%;
    overflow: visible;
}
#Path_16 {
    fill: rgba(70,71,71,1);
}
.Path_16 {
    overflow: visible;
    position: absolute;
    width: 7.304px;
    height: 12.782px;
    left: 34.694px;
    top: 16.434px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
    fill: rgba(70,71,71,1);
}
.Path_17 {
    overflow: visible;
    position: absolute;
    width: 7.304px;
    height: 12.782px;
    left: 9.13px;
    top: 16.434px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
    fill: rgba(70,71,71,1);
}
.Path_18 {
    overflow: visible;
    position: absolute;
    width: 21.912px;
    height: 10.986px;
    left: 14.614px;
    top: 26.447px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_19 {
    fill: rgba(70,71,71,1);
}
.Path_19 {
    overflow: visible;
    position: absolute;
    width: 23.738px;
    height: 11.869px;
    left: 13.695px;
    top: 3.652px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
    fill: rgba(70,71,71,1);
}
.Path_20 {
    overflow: visible;
    position: absolute;
    width: 29.286px;
    height: 18.773px;
    left: 10.922px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
    fill: rgba(70,71,71,1);
}
.Path_21 {
    overflow: visible;
    position: absolute;
    width: 17.167px;
    height: 6.45px;
    left: 17.129px;
    top: 11.869px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
    fill: rgba(70,71,71,1);
}
.Path_22 {
    overflow: visible;
    position: absolute;
    width: 14.53px;
    height: 14.472px;
    left: 36.597px;
    top: 42.134px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
    fill: rgba(70,71,71,1);
}
.Path_23 {
    overflow: visible;
    position: absolute;
    width: 1.826px;
    height: 4.519px;
    left: 31.042px;
    top: 32.914px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_24 {
    fill: rgba(70,71,71,1);
}
.Path_24 {
    overflow: visible;
    position: absolute;
    width: 20.086px;
    height: 20.086px;
    left: 0px;
    top: 36.52px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
    fill: rgba(70,71,71,1);
}
.Path_25 {
    overflow: visible;
    position: absolute;
    width: 10.041px;
    height: 7.304px;
    left: 24.652px;
    top: 38.346px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
    fill: rgba(70,71,71,1);
}
.Path_26 {
    overflow: visible;
    position: absolute;
    width: 6.52px;
    height: 14.897px;
    left: 32.739px;
    top: 27.276px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_27 {
    fill: rgba(70,71,71,1);
}
.Path_27 {
    overflow: visible;
    position: absolute;
    width: 29.307px;
    height: 9.255px;
    left: 10.923px;
    top: 42.786px;
    transform: matrix(1,0,0,1,0,0);
}
/*txtAtencion*/
#Atencin {
    left: 73%;
    top: 130px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    line-height: 72px;
    margin-top: -27px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(57,57,57,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
#Lorem_ipsum_dolor_sit_amet_con_bh {
    left: 70%;
    top: 160px;
    position: absolute;
    overflow: hidden;
    /*width: 15%;*/
    width: 198px;
    height: 45px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(120,120,120,1);
}
#Nuestros_productos_Seleccione_ {
    left: 345px;
    top: 1163px;
    position: absolute;
    overflow: visible;
    width: 44%;
    height: 135px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 44px;
    color: rgba(26,158,217,1);
}
/*Fotos productos*/
#ContIMG{
    position: absolute;
    width: 100%;
    height: 398px;
    top: 1308px;
    overflow:visible;
}
/*Ind automotriz*/
#Foto1_MameAuto {
    position: absolute;
    width: 25%;
    height: 398px;
    left: 0px;
    overflow: visible;
}
#Rectangle_48 {
    opacity: 0.34;
    fill: rgba(0,0,0,1);
}
.Rectangle_48 {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 25%;;
    height: 398px;
    left: 0px;
}
#INDUSTRIA_AUTOMOTRIZ {
    left: 58px;
    top: 320px;
    position: absolute;
    overflow: visible;
    width: 17%;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*Ind farma*/
#Foto1_MameFarma {
    position: absolute;
    width: 25%;;
    height: 398px;
    left: 345px;
    overflow: visible;

}
#Rectangle_48_b {
    opacity: 0.34;
    fill: rgba(0,0,0,1);
}
.Rectangle_48_b {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 25%;;
    height: 398px;
    left: 345px;
}
#INDUSTRIA_FARMA {
    left: 424px;
    top: 320px;
    position: absolute;
    overflow: visible;
    width: 12%;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*Ind Elect*/
#Foto4_MameAuto {
    position: absolute;
    width: 25%;
    height: 398px;
    left: 690px;
    overflow: visible;
}
#Rectangle_48_ca {
    opacity: 0.34;
    fill: rgba(0,0,0,1);
}
.Rectangle_48_ca {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 331px;
    height: 398px;
    left: 690px;
}
#INDUSTRIA_ELECTRNICA {
    left: 739px;
    top: 320px;
    position: absolute;
    overflow: visible;
    width: 19%;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*Ind salud*/
#Foto3_TrajeMedico {
    position: absolute;
    width: 25%;
    height: 398px;
    left: 1036px;
    overflow: visible;
}
#Rectangle_48_cb {
    opacity: 0.34;
    fill: rgba(0,0,0,1);
}
.Rectangle_48_cb {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 25%;
    height: 398px;
    left: 1036px;
}
#INDUSTRIA_SALUD {
    left: 1116px;
    top: 320px;
    position: absolute;
    overflow: visible;
    width: 12%;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/*btn ver Prod*/
#Group_36 {
    position: absolute;
    width: 18%;
    height: 54px;
    left: 597px;
    top: 1826px;
    overflow: visible;
}
#Backgound {
    fill: rgba(26,158,217,1);
}
.Backgound {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background-color: rgba(26,158,217,1);
    border-radius: 27px;
}
#Ver_productos {
    left: 27px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 70%;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -1.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(255,255,255,1);
}
/*confiaron*/
#Confiaron_en_nosotros {
    left: 345px;
    top: 1987px;
    position: absolute;
    overflow: visible;
    width: 678px;
    height: 81px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 44px;
    color: rgba(26,158,217,1);
}